body, html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  font-size: 14px;
  color:rgba(0,0,0,.87);
  margin:0;
  height: 100%;
}
body {
  margin: 0
}
*{
  font-family: Muli !important;
}
.login-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.login-content .box {
  width: 850px;
  border-radius: 8px;
  background-color: #ffffff;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);*/
  box-shadow: -2px 1px 12px 12px rgba(20, 20, 21, 0.61);
  margin: 0 auto;
  height: auto;
  display:flex;
}
.box-main-container {
  width: 60%;
  padding: 10px 0;
  margin: 0 auto;
  height: auto;
  float: left;
  /* display: flex; 
  justify-content: center;
  align-items: center;
  align-content: center;
  */
}
p.safe-slogan {
  clear: both;
  color: #000;
  font-size: 15px;
  padding: 5px 0;
}
span.safe-title {
  color: rgb(0,0,0);
  font-size: 26px;
  font-weight: 700;
  /* text-transform: uppercase; */
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
span.safe-sub-title {
  font-size: 15px;
  font-family: inherit;
  margin-bottom: 22px;
  float: left;
  text-align: center;
  width: 100%;
}
.img-box {
  width: 100%;
  /* float: left; */
}
.project-name {
  width: 100%;
  /* float: right; */
}
span.isdiviser {
  width: 100%;
  clear: both;
  float: left;
  display: flex;
  height: 1px;
  background: #ccc;
}
.login-content .box .box-container {
  width:100%;
}
.login-content .box .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:130px;
}
.login-content .box .application-name {
  font-family: Muli;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: 1.6px;
  text-align: left;
  color: #000;
  clear: both;
  float: left;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}
div#kc-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
}
.form-group.login-pf-settings {
  /* float: left; */
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 100%;
  justify-content: space-between;
}
.login-content .box .form {
  margin-left: 32px;
  margin-top: 55px;
  margin-bottom: -55px;
}
.login-content .box .login-field {
  width: 90%;
  height: 24px;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: #fff;
}
.login-content .box input[type="text"]:focus, .login-content .box input[type="password"]:focus {
  border-bottom: 2px solid #1e39ab;
}
.login-content .box input[type="text"]:-webkit-autofill, .login-content .box input[type="password"]:-webkit-autofill
{
  box-shadow: 0 0 0px 1000px white inset;
}
.login-content .box .submit{
  width: 90%;
  height: 36px;
  border-radius: 3px;
  background-color: #33a144;
  font-family: Muli;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  border-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
  cursor: pointer;
}
.login-pf-settings .btn {
  width: 100%;
  margin-top: 10px;
  height: 35px;
  color: #FFF;
  border-radius: 3px;
  background-color: #1e39ab;
  font-family: Muli;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
  cursor: pointer;
}
.login-content .box .visibility {
  position: relative;
  left: 395px;
  top: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.54;
  border: none;
}
.forgotPassword {
  margin-right: 35px;
}
.forgotPassword a{
  color: #33a144;
  text-decoration: wavy;
}
.alert.alert-error {
  position: absolute;
  top: 315px;
  /* width: 100%; */
  text-align: left;
  margin: 0 auto;
  padding: 0;
}
.login-content .box .copyright {
  min-width: 100%;
  text-align: center;
  font-size: 14px;
  opacity: .54;
  position: relative;
  top: 50px;
  color: #fff;
}
img#vi:hover{
	cursor:pointer;
}
.message-text {
  width: auto;
  height: 60px;
  opacity: 0.87;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: -0.4px;
  text-align: left;
  color: red;
  border: 0px;
  position: relative;
  top: 210px;
  left: 35px;
  display: inline-flex;
  align-items: center;
}
.identity-providers {
  width: 270px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #1976d2;
  margin-left: 32px;
  margin-top: 20px;
}

.login-content .box .social-link-style {
  width: calc(100%/2);
  height: 36px;
  border-radius: 2px;
  background-color: #33a144;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-style: solid;
  border-color: #33a144;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.login-content .box .para {
  font-family: Muli;
  font-size: 14px;
  margin-left: 30px;
}
.socical-intergration #social-providers{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
pre {
  position: absolute;
  top: 26%;
  display: block;
  color: #000;
  font-weight: 700;
  right: 43%;
  font-size: 28px;
}
#kc-reset-password-form {
  height: 330px;
  margin: 0 auto;
  padding: 10px 20px;
}
#kc-reset-password-form .form-group{
    margin-top: 95px;
    width: 100%;
    clear: both;
}
input#username {
  width: 90%;
  height: 20px;
  margin-top: 5px;
}
.footer{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.box-image-product {
  width: 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%;
}
.extends-sign-in{

}
.extends-sign-in .strike-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 10px 0 10px;
}
.extends-sign-in .strike-line .left-strike, .strike-line .right-strike {
  width: 45%;
  height: 1px;
  border-top: 1px solid #33a144;
  margin: 1em 0;
  padding: 0;
}
.extends-sign-in .strike-line .left-strike, .strike-line .right-strike {
  width: 45%;
  height: 1px;
  border-top: 1px solid #33a144;
  margin: 1em 0;
  padding: 0;
}